
  <!--
  <query-builder [config]='currentConfig' [allowRuleset]='allowRuleset' [allowCollapse]='allowCollapse'>
    <ng-container *queryInput="let rule; type: 'textarea'; let getDisabledState=getDisabledState">
      <textarea class="text-input text-area" [(ngModel)]="rule.value" [disabled]=getDisabledState()
        placeholder="Custom Textarea"></textarea>
    </ng-container>
  </query-builder>
  <br>
  <div>
    <div class="row">
      <p class="col-6">Control Valid (Vanilla): {{ queryCtrl.valid }}</p>
      <div class="col-6">
        <label><input type="checkbox" (change)=switchModes($event)>Entity Mode</label>
      </div>
    </div>
    <div class="row">
      <p class="col-6">Control Touched (Vanilla): {{ queryCtrl.touched }}</p>
      <div class="col-6">
        <label><input type="checkbox" (change)=changeDisabled($event)>Disabled</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label><input type="checkbox" [(ngModel)]='allowRuleset'>Allow Ruleset</label>
      </div>
      <div class="col-6">
        <label><input type="checkbox" [(ngModel)]='allowCollapse'>Allow Collapse</label>
      </div>
    </div>
    <textarea class="output">{{query | json}}</textarea>
  </div>
  <br>
  <br>-->
  <!--<h2>Bootstrap</h2>
  <br>
  <query-builder [(ngModel)]='query' [classNames]='bootstrapClassNames' [config]='currentConfig' [allowRuleset]='allowRuleset' [allowCollapse]='allowCollapse'>
    <div class="col-auto" *queryInput="let rule; type: 'textarea'">
      <textarea class="form-control" [(ngModel)]="rule.value"
        placeholder="Custom Textarea"></textarea>
    </div>
  </query-builder>-->

  <query-builder class="query-builder" [(ngModel)]='query' [emptyMessage]='emptyMessage' [config]='config' [allowCollapse]='allowCollapse'></query-builder>
  <div>
      <button (click)="saveQuery()" class="back-button">Save</button>
    </div>